.speech{
    color: #000000;
    font-size: 14px;
    font-family: sans-serif;
}
.direction{
    color: #000000;
    font-size: 12px;
    font-family: 'Times New Roman';
    background-color: bisque;
    
}
.direction:hover{
    background-color: aquamarine;
    color: coral;
}
.linde{
    color: blue;
    font-style: italic;
    text-decoration: dashed;

}
.nora{
    color:darkgreen;
    font-style: italic;
}